* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.7rem;
  font-weight: 700;
  color: #fff;
  font-family: "Georgia", serif;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #f3b05b; /* Warm food theme color */
}

.order-btn {
  background: #f3b05b;
  padding: 10px 18px;
  border-radius: 8px;
  color: black !important;
  font-weight: 600;
}

.order-btn:hover {
  background: #fff;
}
